.card-w {
    width: 18rem
}

.card-name {
    font-weight: 900;
    background-image: linear-gradient(
        to right,
        #ffbe00,
        #ffbe00 50%,
        #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.card-name:before{
    content: '';
    background: #ffbe00;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.card-name:hover {
    background-position: 0;
}

.card-name:hover::before{
    width: 100%;
}

.subtotal-bold {
    font-weight: bold;
}

.trash-styles {
    height: 20px;
    width: 20px;
    margin-top: 6px;
    color: #d82f43;
    cursor: pointer
}
